*{
    text-align: center;
}
header{
    background-color: burlywood;
    color: black;
    font-size: medium;
}
section{
    background-color: black;
    color: white;
}
footer{
    background-color: black;
    color: rgb(255, 62, 62);
    padding: 20px 10px;
}
